openapi: 3.1.0
info:
  title: Lumina 墨光 · API
  version: 1.6.0
  description: |
    Lumina（墨光）教育应用 RESTful API，覆盖用户、课程、作业、成绩、直播、协作、AI 等模块。

    ## 特性
    - JWT 双令牌认证（Access Token 15min + Refresh Token 7d）
    - Cursor-based 分页
    - RFC 7807 错误格式
    - SSE 流式响应（AI 接口）
    - 直播课堂：REST + after_id 轮询（聊天/举手/答题/点名）· HLS 流媒体（LIVE_STREAM_* 可插拔，未接入返回 mock://）
    - 小组协作：课程小组 / 成员 / 项目 / 看板拖拽 / 共享文件 / 组内讨论（D-02）
    - 账户补全：自助注册（POST /auth/register）+ 消息通知中心（/notifications/my · D-03）
    - 题库与考试：题库 CRUD / 试卷编排 / 智能组卷 / 自动评分 + 主观题人工评分 / 统计（D-04）

  contact:
    name: Lumina Team
    url: https://github.com/yuan50697105/lumina-edu
  license:
    name: MIT

servers:
  - url: https://api.lumina.edu/api/v1
    description: 生产环境
  - url: https://api-staging.lumina.edu/api/v1
    description: 预发布环境
  - url: http://localhost:8080/api/v1
    description: 本地开发

tags:
  - name: auth
    description: 认证授权
  - name: users
    description: 用户模块
  - name: courses
    description: 课程模块
  - name: assignments
    description: 作业模块
  - name: grades
    description: 成绩模块
  - name: live
    description: 直播模块
  - name: collab
    description: 协作模块（小组/项目/看板/文件/讨论）
  - name: notif
    description: 消息通知中心（D-03）
  - name: exam
    description: 题库与考试（D-04：题库/试卷/组卷/答卷/评分/统计）
  - name: ai
    description: AI 能力模块

# ─── 全局安全 ───
security:
  - BearerAuth: []

# ─── 路径 ───
paths:

  # ═══════ AUTH ═══════
  /auth/login:
    post:
      tags: [auth]
      summary: 登录获取令牌
      description: 使用账号密码登录，返回 Access Token 和 Refresh Token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [auth]
      summary: 刷新令牌
      description: 使用 Refresh Token 获取新的 Access Token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
                  example: "eyJhbGciOiJIUzI1NiIs..."
      responses:
        '200':
          description: 刷新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/TokenResponse'

  /auth/logout:
    post:
      tags: [auth]
      summary: 注销
      description: 注销当前会话，将 Access Token 加入黑名单
      responses:
        '200':
          description: 注销成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /auth/password:
    post:
      tags: [auth]
      summary: 修改密码
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [old_password, new_password]
              properties:
                old_password:
                  type: string
                new_password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: 修改成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /auth/register:
    post:
      tags: [auth]
      summary: 自助注册（D-03）
      description: 注册学生/教师账号，成功即自动登录返回令牌；邮箱/学号冲突返回 409
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: 注册成功，返回令牌
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/TokenResponse'
        '409':
          description: 邮箱或学号已存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 参数校验失败（角色非法 / 密码过短）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ═══════ USERS ═══════
  /users/me:
    get:
      tags: [users]
      summary: 获取当前用户信息
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/User'
    patch:
      tags: [users]
      summary: 更新个人信息
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                avatar_url:
                  type: string
                  format: uri
                bio:
                  type: string
                  maxLength: 200
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/User'

  /users/{id}:
    get:
      tags: [users]
      summary: 查询用户详情
      description: 教师/管理员可查询任意用户
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/User'

  # ═══════ COURSES ═══════
  /courses:
    get:
      tags: [courses]
      summary: 课程列表
      parameters:
        - $ref: '#/components/parameters/Semester'
        - $ref: '#/components/parameters/Department'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Course'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags: [courses]
      summary: 创建课程
      description: 教师创建新课程
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseCreateRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/Course'

  /courses/{id}:
    get:
      tags: [courses]
      summary: 课程详情
      parameters:
        - $ref: '#/components/parameters/CourseId'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/Course'

  /courses/{id}/chapters:
    get:
      tags: [courses]
      summary: 章节列表
      parameters:
        - $ref: '#/components/parameters/CourseId'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chapter'

  /courses/{id}/enroll:
    post:
      tags: [courses]
      summary: 选课
      description: 学生选课
      parameters:
        - $ref: '#/components/parameters/CourseId'
      responses:
        '200':
          description: 选课成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      tags: [courses]
      summary: 退课
      description: 学生退课
      parameters:
        - $ref: '#/components/parameters/CourseId'
      responses:
        '200':
          description: 退课成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /courses/{id}/students:
    get:
      tags: [courses]
      summary: 选课学生列表
      description: 教师查看已选课学生
      parameters:
        - $ref: '#/components/parameters/CourseId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /courses/{id}/announcements:
    get:
      tags: [courses]
      summary: 课程公告
      parameters:
        - $ref: '#/components/parameters/CourseId'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Announcement'

  # ═══════ ASSIGNMENTS ═══════
  /assignments:
    get:
      tags: [assignments]
      summary: 作业列表
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Assignment'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /courses/{course_id}/assignments:
    post:
      tags: [assignments]
      summary: 发布作业
      description: 教师发布课程作业
      parameters:
        - name: course_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentCreateRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/Assignment'

  /assignments/{id}/submit:
    post:
      tags: [assignments]
      summary: 提交作业
      description: 学生提交作业（支持文件上传）
      parameters:
        - $ref: '#/components/parameters/AssignmentId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: 作业文件
                text_answer:
                  type: string
                  description: 文字答案
                submission_note:
                  type: string
                  description: 提交备注
      responses:
        '200':
          description: 提交成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /assignments/{id}/grade:
    post:
      tags: [assignments]
      summary: 批阅作业
      description: 教师或 AI 批阅作业
      parameters:
        - $ref: '#/components/parameters/AssignmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GradeRequest'
      responses:
        '200':
          description: 批阅成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/GradeResult'

  /assignments/{id}/submissions:
    get:
      tags: [assignments]
      summary: 提交列表
      description: 教师查看所有提交
      parameters:
        - $ref: '#/components/parameters/AssignmentId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Submission'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /assignments/{id}/submissions/me:
    get:
      tags: [assignments]
      summary: 我的提交
      description: 学生查看自己的提交
      parameters:
        - $ref: '#/components/parameters/AssignmentId'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/Submission'

  # ═══════ GRADES ═══════
  /grades/me:
    get:
      tags: [grades]
      summary: 我的成绩
      description: 学生查看个人成绩
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/GradeReport'

  /courses/{id}/grades:
    get:
      tags: [grades]
      summary: 课程成绩列表
      description: 教师查看课程所有学生成绩
      parameters:
        - $ref: '#/components/parameters/CourseId'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StudentGrade'
    post:
      tags: [grades]
      summary: 录入成绩
      description: 教师录入学生成绩
      parameters:
        - $ref: '#/components/parameters/CourseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [student_id, score]
                properties:
                  student_id:
                    type: string
                    format: uuid
                  score:
                    type: number
                    minimum: 0
                    maximum: 100
                  grade:
                    type: string
                    enum: [A, B, C, D, F]
      responses:
        '200':
          description: 录入成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /grades/statistics:
    get:
      tags: [grades]
      summary: 成绩统计
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      gpa:
                        type: number
                        example: 3.72
                      total_credits:
                        type: integer
                        example: 128
                      rank:
                        type: integer
                        example: 15

  # ═══════ LIVE（D-01 · REST 轮询 · 16 端点）═══════
  /live/rooms:
    post:
      tags: [live]
      summary: 创建直播房间（教师）
      description: 为已授权课程创建直播房间，返回 room_id；未配置媒体服务器时 stream_url 为 mock:// 占位
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [course_id, title]
              properties:
                course_id:
                  type: string
                  format: uuid
                  example: c001
                title:
                  type: string
                  example: 第12讲 · 不定积分
      responses:
        '201':
          description: 创建成功

  /live/rooms/{room_id}:
    get:
      tags: [live]
      summary: 直播房间详情
      description: 返回状态（scheduled / live / ended）、在线数、stream_url
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功

  /live/rooms/{room_id}/start:
    post:
      tags: [live]
      summary: 开播（教师）
      description: status → live；返回 stream_url（HLS <code>/media/{key}/index.m3u8</code> 或 CDN 直链，未接入为 mock://）
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功

  /live/rooms/{room_id}/end:
    post:
      tags: [live]
      summary: 结束直播（教师）
      description: status → ended
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功

  /live/rooms/{room_id}/join:
    post:
      tags: [live]
      summary: 加入直播
      description: 仅已选课学生可加入（未选课 403）；在线数 +1
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功

  /live/rooms/{room_id}/leave:
    post:
      tags: [live]
      summary: 离开直播
      description: 在线数 -1
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /live/rooms/{room_id}/raise:
    put:
      tags: [live]
      summary: 举手 / 取消举手
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [active]
              properties:
                active:
                  type: boolean
                  example: true
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /live/rooms/{room_id}/raises:
    get:
      tags: [live]
      summary: 举手队列（教师）
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 队列列表

  /live/rooms/{room_id}/messages:
    post:
      tags: [live]
      summary: 发送消息（聊天 / 系统）
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                msg_type:
                  type: string
                  enum: [chat, system]
                  default: chat
                content:
                  type: string
      responses:
        '201':
          description: 消息已发送
    get:
      tags: [live]
      summary: 增量拉取消息
      description: 前端 2.5s 轮询；after_id 之后的新消息
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
        - name: after_id
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: 消息列表（倒序）

  /live/rooms/{room_id}/call:
    post:
      tags: [live]
      summary: 随机点名（教师）
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  nullable: true
                  description: 为空则随机
      responses:
        '200':
          description: 返回被点学生 user_id

  /live/rooms/{room_id}/call/respond:
    post:
      tags: [live]
      summary: 应答点名（学生）
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /live/rooms/{room_id}/quizzes:
    post:
      tags: [live]
      summary: 发起答题（教师）
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question, options]
              properties:
                question:
                  type: string
                options:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                      text:
                        type: string
                answer:
                  type: string
                  description: 正确答案（可空）
      responses:
        '201':
          description: 已发题

  /live/rooms/{room_id}/quizzes/{quiz_id}/answer:
    post:
      tags: [live]
      summary: 作答（学生）
      description: 一题一次，重复提交覆盖改答
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
        - name: quiz_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [choice]
              properties:
                choice:
                  type: string
                  example: A
      responses:
        '200':
          description: 已作答

  /live/rooms/{room_id}/quizzes/{quiz_id}/close:
    post:
      tags: [live]
      summary: 关闭答题（教师）
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
        - name: quiz_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 已关闭

  /live/rooms/{room_id}/quizzes/{quiz_id}/result:
    get:
      tags: [live]
      summary: 答题统计（教师）
      description: 返回 total / 各选项分布 / 正确率
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
        - name: quiz_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 统计结果

  # ═══════ AI ═══════
  /ai/chat:
    post:
      tags: [ai]
      summary: AI 对话
      description: |
        苏格拉底式 AI 导师对话。支持流式响应（SSE），
        通过 Accept: text/event-stream 启用。
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            enum: [application/json, text/event-stream]
          description: "text/event-stream 启用流式"
        - name: X-Model
          in: header
          schema:
            type: string
            enum: [qwen-max, glm-4, spark-v4, doubao-lite, kimi, auto]
          description: "指定模型，auto 为智能路由"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: 成功（非流式）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
            text/event-stream:
              schema:
                type: string
                description: "SSE 流式数据，每行 data: {...}"

  /ai/grade:
    post:
      tags: [ai]
      summary: AI 辅助批阅
      description: 使用 AI 模型自动批阅作业
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIGradeRequest'
      responses:
        '200':
          description: 批阅结果
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: '#/components/schemas/AIGradeResult'

  /ai/generate:
    post:
      tags: [ai]
      summary: AI 内容生成
      description: AI 生成课件、题目等内容
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, prompt]
              properties:
                type:
                  type: string
                  enum: [slide, quiz, summary, outline]
                prompt:
                  type: string
                context:
                  type: object
                  properties:
                    course_id:
                      type: string
                    chapter_id:
                      type: string
      responses:
        '200':
          description: 生成结果
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      content:
                        type: string
                      format:
                        type: string
                      model:
                        type: string

  /ai/speech-to-text:
    post:
      tags: [ai]
      summary: 语音识别
      description: 讯飞语音转文字
      requestBody:
        required: true
        content:
          audio/wav:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: 识别结果
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      text:
                        type: string
                      confidence:
                        type: number
                      duration:
                        type: number
                        description: 音频时长（秒）

  /ai/models:
    get:
      tags: [ai]
      summary: 可用模型列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "qwen-max"
                        name:
                          type: string
                          example: "通义千问 Max"
                        vendor:
                          type: string
                          example: "阿里云"
                        capabilities:
                          type: array
                          items:
                            type: string
                        cost_per_1k_tokens:
                          type: number
                          example: 0.02

  /ai/conversations:
    get:
      tags: [ai]
      summary: 对话历史
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        model:
                          type: string
                        message_count:
                          type: integer
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  # ═══════ MEDIA（HLS 流媒体反代 · 开发演示专用）═══════
  /media/{path}:
    get:
      tags: [live]
      summary: HLS 流媒体同源反代
      description: |
        将前端播放请求转发到媒体服务器（LIVE_STREAM_BASE），附加 cookieCheck=1 放行 mediamtx 校验。
        仅在开发/演示开启（LIVE_STREAM_PROXY=true）；生产由网关/CDN 代劳，此端点不启用。
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
            example: roomdemo/index.m3u8
      responses:
        '200':
          description: HLS 分片 / m3u8 内容
        '503':
          description: 媒体服务器未配置

  # ═══════ COLLAB（小组协作 · D-02）═══════
  # 小组 / 成员 / 项目 / 看板 / 共享文件 / 组内讨论（27 endpoints）
  /groups/me:
    get:
      tags: [collab]
      summary: 我的小组
      description: 学生视角，返回我加入的所有小组（含课程名 / 组长 / 成员数）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CollabGroup'

  /courses/{course_id}/groups:
    get:
      tags: [collab]
      summary: 课程小组列表
      description: 授课教师 / 管理员 / 已选课学生可见
      parameters:
        - name: course_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CollabGroup'
        '403':
          description: 未选课 / 无权限
    post:
      tags: [collab]
      summary: 创建小组
      description: 仅授课教师 / 管理员；创建者自动成为组长
      parameters:
        - name: course_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabGroupCreate'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabGroup'

  /groups/{group_id}:
    get:
      tags: [collab]
      summary: 小组详情
      description: 成员 / 项目数 / is_member；组内成员与教师可见
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabGroup'
    patch:
      tags: [collab]
      summary: 更新小组
      description: 改名 / 说明 / 换组长（leader_id）；组长或授课教师
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabGroupUpdate'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabGroup'
    delete:
      tags: [collab]
      summary: 删除小组
      description: 授课教师 / 管理员；级联清理成员 / 项目 / 文件 / 讨论
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /groups/{group_id}/members:
    post:
      tags: [collab]
      summary: 加入小组
      description: 已选课学生可加入；重复加入 409、未选课 403
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: 加入成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabGroup'
        '403':
          description: 未选课
        '409':
          description: 已是成员 / 已满员

  /groups/{group_id}/members/{user_id}:
    delete:
      tags: [collab]
      summary: 移出成员
      description: 组长 / 授课教师；可移出自己的成员（退出）
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
        - name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /groups/{group_id}/projects:
    get:
      tags: [collab]
      summary: 小组项目列表
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CollabProject'
    post:
      tags: [collab]
      summary: 创建项目
      description: 组内成员 / 授课教师；含 deadline
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabProjectCreate'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabProject'

  /projects/{project_id}:
    get:
      tags: [collab]
      summary: 项目详情
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabProject'
    patch:
      tags: [collab]
      summary: 更新项目
      description: title / status（not_started|in_progress|done）/ deadline
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabProjectUpdate'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabProject'
    delete:
      tags: [collab]
      summary: 删除项目
      description: 组长 / 授课教师
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /projects/{project_id}/board:
    get:
      tags: [collab]
      summary: 项目看板
      description: 列 + 卡片聚合（columns[].cards）
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabBoard'

  /projects/{project_id}/columns:
    post:
      tags: [collab]
      summary: 新建看板列
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabColumnCreate'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabColumn'

  /columns/{column_id}:
    patch:
      tags: [collab]
      summary: 更新列
      description: 改名 / order_num 重排
      parameters:
        - name: column_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabColumnUpdate'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabColumn'
    delete:
      tags: [collab]
      summary: 删除列
      description: 卡片级联删除
      parameters:
        - name: column_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /columns/{column_id}/cards:
    post:
      tags: [collab]
      summary: 新建任务卡片
      description: assignee_id（可选）/ due_date（可选）
      parameters:
        - name: column_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabCardCreate'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabCard'

  /cards/{card_id}:
    patch:
      tags: [collab]
      summary: 更新卡片
      description: 拖拽换列（column_id）+ order_num 重排；改标题 / assignee / due_date
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabCardUpdate'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabCard'
    delete:
      tags: [collab]
      summary: 删除卡片
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /groups/{group_id}/files:
    get:
      tags: [collab]
      summary: 共享文件列表
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CollabFile'
    post:
      tags: [collab]
      summary: 上传文件
      description: multipart/form-data · file + description；落盘 uploads/collab，文件本体缺失时为 mock 占位
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                description:
                  type: string
      responses:
        '201':
          description: 上传成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabFile'

  /files/{file_id}/download:
    get:
      tags: [collab]
      summary: 下载文件
      description: FileResponse 原文流；文件缺失时返回 mock 占位字节
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 文件内容
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /groups/{group_id}/topics:
    get:
      tags: [collab]
      summary: 讨论主题列表
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CollabTopic'
    post:
      tags: [collab]
      summary: 发表主题
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabTopicCreate'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabTopic'

  /topics/{topic_id}:
    get:
      tags: [collab]
      summary: 主题详情
      description: 含回复列表 / reply_count
      parameters:
        - name: topic_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabTopic'

  /topics/{topic_id}/replies:
    post:
      tags: [collab]
      summary: 回复主题
      parameters:
        - name: topic_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabReplyIn'
      responses:
        '201':
          description: 回复成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabReply'

  # ═══════ NOTIFICATIONS（D-03）═══════
  /notifications/my:
    get:
      tags: [notif]
      summary: 我的通知列表
      description: 仅本人可见；支持 limit / unread_only 过滤
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: unread_only
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: 通知列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationOut'

  /notifications/my/unread-count:
    get:
      tags: [notif]
      summary: 未读数统计（顶栏铃铛）
      responses:
        '200':
          description: 未读数
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadCountOut'

  /notifications/my/{notification_id}/read:
    post:
      tags: [notif]
      summary: 单条已读
      description: 非本人通知返回 404
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 已标记已读
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /notifications/my/read-all:
    post:
      tags: [notif]
      summary: 全部已读（幂等）
      responses:
        '200':
          description: 全部已读
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ═══════ 题库与考试 EXAM（D-04）═══════
  /courses/{course_id}/questions:
    get:
      tags: [exam]
      summary: 课程题库列表
      description: 支持 qtype/difficulty/tag 过滤；教师/管理员返回答案，学生不含答案
      parameters:
        - name: course_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: qtype
          in: query
          schema: { type: string, enum: [single, multiple, true_false, short_answer] }
        - name: difficulty
          in: query
          schema: { type: string, enum: [easy, medium, hard] }
        - name: tag
          in: query
          schema: { type: string }
      responses:
        '200':
          description: 题库列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: integer, example: 0 }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/QuestionOut' }
                  pagination: { $ref: '#/components/schemas/pagination' }
    post:
      tags: [exam]
      summary: 新建题目（教师）
      description: 客观题须提供 options+answer，否则 422
      parameters:
        - name: course_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuestionBody' }
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/QuestionOut' }
        '422':
          description: 客观题缺选项/答案
  /questions/{question_id}:
    get:
      tags: [exam]
      summary: 题目详情
      parameters:
        - name: question_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 题目详情（学生侧不含答案）
          content:
            application/json:
              schema: { $ref: '#/components/schemas/QuestionOut' }
    patch:
      tags: [exam]
      summary: 更新题目（教师）
      parameters:
        - name: question_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuestionBody' }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/QuestionOut' }
    delete:
      tags: [exam]
      summary: 删除题目（教师）
      parameters:
        - name: question_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SuccessResponse' }
  /courses/{course_id}/papers:
    get:
      tags: [exam]
      summary: 课程试卷列表
      description: 学生仅已发布；含 my_attempt 状态
      parameters:
        - name: course_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 试卷列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: integer, example: 0 }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/PaperOut' }
                  pagination: { $ref: '#/components/schemas/pagination' }
    post:
      tags: [exam]
      summary: 新建试卷（教师）
      parameters:
        - name: course_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PaperBody' }
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaperOut' }
  /papers/{paper_id}:
    get:
      tags: [exam]
      summary: 试卷详情
      description: 教师含 answer；学生不含且含 my_attempt
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 试卷详情
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaperOut' }
    patch:
      tags: [exam]
      summary: 更新试卷（教师）
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PaperBody' }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaperOut' }
    delete:
      tags: [exam]
      summary: 删除试卷（教师，作答级联删除）
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SuccessResponse' }
  /papers/{paper_id}/questions:
    post:
      tags: [exam]
      summary: 试卷加题（教师）
      description: 单题分值可覆盖题库默认；重复 409
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PaperQuestionIn' }
      responses:
        '201':
          description: 加入成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaperOut' }
  /papers/{paper_id}/questions/{pq_id}:
    delete:
      tags: [exam]
      summary: 移除题目（教师）
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: pq_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 移除成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SuccessResponse' }
  /papers/{paper_id}/generate:
    post:
      tags: [exam]
      summary: 智能组卷（教师）
      description: 按难度/题型/标签从课程题库随机抽题追加（不重复已存在题目）
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AutoGenerateIn' }
      responses:
        '200':
          description: 组卷完成
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaperOut' }
  /papers/{paper_id}/publish:
    post:
      tags: [exam]
      summary: 发布试卷（教师）
      description: 空卷（0 题）返回 400
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 发布成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaperOut' }
  /papers/{paper_id}/close:
    post:
      tags: [exam]
      summary: 关闭试卷（教师）
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 关闭成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaperOut' }
  /papers/{paper_id}/attempt/me:
    get:
      tags: [exam]
      summary: 我的考试状态（学生）
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 我的考试记录（无则 my_attempt=null）
          content:
            application/json:
              schema:
                type: object
                properties:
                  my_attempt:
                    anyOf:
                      - { $ref: '#/components/schemas/AttemptOut' }
                      - { type: 'null' }
  /papers/{paper_id}/start:
    post:
      tags: [exam]
      summary: 开始考试（学生）
      description: 幂等；进行中返回原 attempt；已提交 409；未发布/时间窗外/未选课 403
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '201':
          description: 开始成功（题目不含答案）
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StartOut' }
  /papers/{paper_id}/submit:
    post:
      tags: [exam]
      summary: 提交作答（学生 · 自动评分）
      description: 客观题自动判分；主观题待教师人工评分；重复提交 409
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubmitIn' }
      responses:
        '200':
          description: 提交成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttemptOut' }
  /papers/{paper_id}/attempts:
    get:
      tags: [exam]
      summary: 提交记录列表（教师）
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 提交记录
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AttemptOut' }
  /attempts/{attempt_id}:
    get:
      tags: [exam]
      summary: 答卷详情（本人/教师）
      parameters:
        - name: attempt_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 答卷详情
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttemptOut' }
  /attempts/{attempt_id}/manual-grade:
    post:
      tags: [exam]
      summary: 主观题人工评分（教师）
      parameters:
        - name: attempt_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ManualGradeIn' }
      responses:
        '200':
          description: 评分成功
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttemptOut' }
  /papers/{paper_id}/stats:
    get:
      tags: [exam]
      summary: 考试统计（教师）
      description: 提交数/平均分/最高最低 + 每题正确率与人工均分
      parameters:
        - name: paper_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 统计
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StatsOut' }

# ─── 组件 ───
components:

  # ─── 安全方案 ───
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JWT Access Token（15 分钟有效）"

  # ─── 通用参数 ───
  parameters:
    UserId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CourseId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    AssignmentId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    LiveId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Semester:
      name: semester
      in: query
      schema:
        type: string
        example: "2026-1"
      description: "学期筛选"
    Department:
      name: department
      in: query
      schema:
        type: string
      description: "院系筛选"
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: "分页游标"
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: "每页数量（默认 20，最大 100）"

  # ─── 通用响应 ───
  responses:
    Unauthorized:
      description: 未授权
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 无权限
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  # ─── 数据模型 ───
  schemas:

    # --- 基础 ---
    SuccessResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"

    Pagination:
      type: object
      properties:
        cursor:
          type: string
        has_more:
          type: boolean
        total:
          type: integer

    Error:
      type: object
      description: "RFC 7807 Problem Details"
      properties:
        type:
          type: string
          format: uri
          example: "https://api.lumina.edu/errors/unauthorized"
        status:
          type: integer
          example: 401
        title:
          type: string
          example: "Unauthorized"
        detail:
          type: string
          example: "Access token expired"
        code:
          type: string
          example: "AUTH_TOKEN_EXPIRED"
        request_id:
          type: string

    # --- Auth ---
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          example: "linqing"
        password:
          type: string
          format: password
        device:
          type: string
          enum: [web, mobile, desktop]
          default: web

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          description: "秒"
          example: 900
        token_type:
          type: string
          example: "Bearer"
        user:
          $ref: '#/components/schemas/User'

    # --- User ---
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        student_id:
          type: string
          description: "学号"
          example: "2023010001"
        name:
          type: string
          example: "林清"
        email:
          type: string
          format: email
        role:
          type: string
          enum: [student, teacher, admin]
        department:
          type: string
        grade:
          type: string
          description: "入学年级"
        avatar_url:
          type: string
          format: uri
        bio:
          type: string
        created_at:
          type: string
          format: date-time

    # --- Course ---
    Course:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          example: "CS201"
        title:
          type: string
          example: "高等数学"
        description:
          type: string
        teacher:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        credits:
          type: number
          example: 4.0
        students_count:
          type: integer
          example: 86
        semester:
          type: string
          example: "2026-1"
        department:
          type: string
        schedule:
          type: array
          items:
            type: object
            properties:
              day:
                type: integer
                description: "1=周一"
              start:
                type: string
                example: "08:00"
              end:
                type: string
                example: "09:40"
              room:
                type: string
        created_at:
          type: string
          format: date-time

    CourseCreateRequest:
      type: object
      required: [title, code, credits]
      properties:
        title:
          type: string
        code:
          type: string
        description:
          type: string
        credits:
          type: number
        department:
          type: string
        schedule:
          type: array
          items:
            type: object
            properties:
              day:
                type: integer
              start:
                type: string
              end:
                type: string
              room:
                type: string

    Chapter:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        order:
          type: integer
        content:
          type: string
        resources:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [video, pdf, link]
              url:
                type: string
                format: uri
              title:
                type: string

    Announcement:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
        author:
          $ref: '#/components/schemas/User'
        pinned:
          type: boolean
        created_at:
          type: string
          format: date-time

    # --- Assignment ---
    Assignment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        course_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        due_at:
          type: string
          format: date-time
        max_score:
          type: integer
          example: 100
        ai_grading:
          type: boolean
        rubric:
          type: array
          items:
            type: object
            properties:
              criteria:
                type: string
              weight:
                type: number
        status:
          type: string
          enum: [draft, published, closed]
        created_at:
          type: string
          format: date-time

    AssignmentCreateRequest:
      type: object
      required: [title, due_at, max_score]
      properties:
        title:
          type: string
        description:
          type: string
        due_at:
          type: string
          format: date-time
        max_score:
          type: integer
          minimum: 1
        ai_grading:
          type: boolean
          default: false
        rubric:
          type: array
          items:
            type: object
            properties:
              criteria:
                type: string
              weight:
                type: number
                minimum: 0
                maximum: 1

    Submission:
      type: object
      properties:
        id:
          type: string
          format: uuid
        assignment_id:
          type: string
          format: uuid
        student:
          $ref: '#/components/schemas/User'
        file_urls:
          type: array
          items:
            type: string
            format: uri
        text_answer:
          type: string
        submitted_at:
          type: string
          format: date-time
        grade:
          $ref: '#/components/schemas/GradeResult'

    GradeRequest:
      type: object
      properties:
        submission_id:
          type: string
          format: uuid
        score:
          type: number
          minimum: 0
        feedback:
          type: string
        rubric_scores:
          type: array
          items:
            type: object
            properties:
              criteria:
                type: string
              score:
                type: number
              comment:
                type: string

    GradeResult:
      type: object
      properties:
        total:
          type: number
        feedback:
          type: string
        rubric_scores:
          type: array
          items:
            type: object
            properties:
              criteria:
                type: string
              score:
                type: number
              max:
                type: number
              comment:
                type: string
        graded_by:
          type: string
          description: "teacher 或 ai"
        graded_at:
          type: string
          format: date-time

    # --- Grade ---
    GradeReport:
      type: object
      properties:
        gpa:
          type: number
          example: 3.72
        total_credits:
          type: integer
        courses:
          type: array
          items:
            type: object
            properties:
              course_id:
                type: string
              title:
                type: string
              credit:
                type: number
              score:
                type: number
              grade:
                type: string
                enum: [A, B, C, D, F]
              semester:
                type: string

    StudentGrade:
      type: object
      properties:
        student:
          $ref: '#/components/schemas/User'
        score:
          type: number
        grade:
          type: string
        graded_at:
          type: string
          format: date-time

    # --- Live ---
    LiveSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        course_id:
          type: string
          format: uuid
        title:
          type: string
        teacher:
          $ref: '#/components/schemas/User'
        scheduled_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [scheduled, live, ended]
        enable_recording:
          type: boolean
        enable_chat:
          type: boolean
        enable_hand_raise:
          type: boolean
        participant_count:
          type: integer

    LiveCreateRequest:
      type: object
      required: [course_id, title, scheduled_at]
      properties:
        course_id:
          type: string
          format: uuid
        title:
          type: string
        scheduled_at:
          type: string
          format: date-time
        enable_recording:
          type: boolean
          default: true
        enable_chat:
          type: boolean
          default: true
        enable_hand_raise:
          type: boolean
          default: true

    # --- AI ---
    ChatRequest:
      type: object
      required: [message]
      properties:
        conversation_id:
          type: string
          description: "续对话时传入"
        message:
          type: string
          example: "这个积分怎么解？"
        context:
          type: object
          properties:
            course_id:
              type: string
            chapter_id:
              type: string
        attachments:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [image, audio, document]
              url:
                type: string
                format: uri

    ChatResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        data:
          type: object
          properties:
            conversation_id:
              type: string
            content:
              type: string
            model:
              type: string
              example: "qwen-max"
            usage:
              type: object
              properties:
                prompt_tokens:
                  type: integer
                completion_tokens:
                  type: integer
                total_tokens:
                  type: integer
            created_at:
              type: string
              format: date-time

    AIGradeRequest:
      type: object
      required: [assignment_id, submission_id]
      properties:
        assignment_id:
          type: string
          format: uuid
        submission_id:
          type: string
          format: uuid
        rubric:
          type: array
          items:
            type: object
            properties:
              criteria:
                type: string
              weight:
                type: number
        file_urls:
          type: array
          items:
            type: string
            format: uri

    AIGradeResult:
      type: object
      properties:
        scores:
          type: array
          items:
            type: object
            properties:
              criteria:
                type: string
              score:
                type: number
              max:
                type: number
              comment:
                type: string
        total:
          type: number
        feedback:
          type: string
        model:
          type: string
          example: "qwen-max"
        confidence:
          type: number
          example: 0.92

    # ─── 协作 Collab（D-02）───
    CollabGroupMember:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        name:
          type: string
          example: "张三"
        joined_at:
          type: string
          format: date-time
    CollabGroup:
      type: object
      properties:
        id:
          type: string
          format: uuid
        course_id:
          type: string
          format: uuid
        course_name:
          type: string
        name:
          type: string
          example: "第一组 · 数值分析"
        description:
          type: string
        leader_id:
          type: string
          format: uuid
        leader_name:
          type: string
        member_count:
          type: integer
        project_count:
          type: integer
        is_member:
          type: boolean
        members:
          type: array
          items:
            $ref: '#/components/schemas/CollabGroupMember'
    CollabGroupCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: "第二组"
        description:
          type: string
    CollabGroupUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        leader_id:
          type: string
          format: uuid
    CollabProject:
      type: object
      properties:
        id:
          type: string
          format: uuid
        group_id:
          type: string
          format: uuid
        group_name:
          type: string
        title:
          type: string
          example: "数值分析小组作业"
        description:
          type: string
        status:
          type: string
          enum: [not_started, in_progress, done]
        deadline:
          type: string
          format: date
        created_by:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
    CollabProjectCreate:
      type: object
      required: [title]
      properties:
        title:
          type: string
        description:
          type: string
        deadline:
          type: string
          format: date
    CollabProjectUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [not_started, in_progress, done]
        deadline:
          type: string
          format: date
    CollabColumn:
      type: object
      properties:
        id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        name:
          type: string
          example: "待办"
        order_num:
          type: integer
        cards:
          type: array
          items:
            $ref: '#/components/schemas/CollabCard'
    CollabColumnCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: "进行中"
    CollabColumnUpdate:
      type: object
      properties:
        name:
          type: string
        order_num:
          type: integer
    CollabCard:
      type: object
      properties:
        id:
          type: string
          format: uuid
        column_id:
          type: string
          format: uuid
        title:
          type: string
          example: "编写实验报告"
        description:
          type: string
        assignee_id:
          type: string
          format: uuid
        assignee_name:
          type: string
        due_date:
          type: string
          format: date
        order_num:
          type: integer
        created_at:
          type: string
          format: date-time
    CollabCardCreate:
      type: object
      required: [title]
      properties:
        title:
          type: string
        description:
          type: string
        assignee_id:
          type: string
          format: uuid
        due_date:
          type: string
          format: date
    CollabCardUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        column_id:
          type: string
          format: uuid
          description: 拖拽换列
        assignee_id:
          type: string
          format: uuid
        due_date:
          type: string
          format: date
    CollabBoard:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/CollabColumn'
    CollabFile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        group_id:
          type: string
          format: uuid
        filename:
          type: string
          example: "开题报告.docx"
        file_size:
          type: integer
        mime_type:
          type: string
          example: "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        uploaded_by:
          type: string
          format: uuid
        uploaded_by_name:
          type: string
        description:
          type: string
        created_at:
          type: string
          format: date-time
    CollabTopic:
      type: object
      properties:
        id:
          type: string
          format: uuid
        group_id:
          type: string
          format: uuid
        title:
          type: string
          example: "分工安排"
        content:
          type: string
        author_id:
          type: string
          format: uuid
        author_name:
          type: string
        reply_count:
          type: integer
        created_at:
          type: string
          format: date-time
        replies:
          type: array
          items:
            $ref: '#/components/schemas/CollabReply'
    CollabTopicCreate:
      type: object
      required: [title, content]
      properties:
        title:
          type: string
        content:
          type: string
    CollabReply:
      type: object
      properties:
        id:
          type: string
          format: uuid
        topic_id:
          type: string
          format: uuid
        content:
          type: string
        author_id:
          type: string
          format: uuid
        author_name:
          type: string
        created_at:
          type: string
          format: date-time
    CollabReplyIn:
      type: object
      required: [content]
      properties:
        content:
          type: string

    RegisterRequest:
      type: object
      required: [name, email, password]
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          description: 至少 8 位
        student_id:
          type: string
          description: 学号/工号（可选）
        role:
          type: string
          enum: [student, teacher]
          default: student
        device:
          type: string
          enum: [web, mobile, desktop]
          default: web

    NotificationOut:
      type: object
      required: [id, user_id, type, title, is_read, created_at]
      properties:
        id:
          type: string
        user_id:
          type: string
        type:
          type: string
          description: 通知类型（welcome / assignment_graded / live_call）
        title:
          type: string
        content:
          type: string
          nullable: true
        ref_type:
          type: string
          nullable: true
          description: 关联对象类型（course / live_room / assignment）
        ref_id:
          type: string
          nullable: true
        is_read:
          type: boolean
        created_at:
          type: string
          format: date-time

    UnreadCountOut:
      type: object
      required: [unread_count]
      properties:
        unread_count:
          type: integer

    # ═══════ 题库与考试 EXAM（D-04）═══════
    QuestionBody:
      type: object
      required: [qtype, title]
      properties:
        qtype:
          type: string
          enum: [single, multiple, true_false, short_answer]
        title:
          type: string
        options:
          type: array
          items: { type: string }
          description: 客观题选项（single/multiple/true_false 必填）
        answer:
          type: array
          items: { type: string }
          description: 正确答案（short_answer 保存参考答案文本）
        score:
          type: number
          default: 5
        difficulty:
          type: string
          enum: [easy, medium, hard]
          default: medium
        tags:
          type: array
          items: { type: string }
        chapter_id:
          type: string
          format: uuid
          nullable: true
    QuestionOut:
      type: object
      allOf:
        - $ref: '#/components/schemas/QuestionBody'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            course_id:
              type: string
              format: uuid
            created_by:
              type: string
              format: uuid
            created_by_name:
              type: string
            created_at:
              type: string
              format: date-time
            answer_hidden:
              type: boolean
              description: 学生侧 answer 置空
    PaperBody:
      type: object
      required: [title]
      properties:
        title:
          type: string
        description:
          type: string
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        duration_minutes:
          type: integer
          default: 60
    PaperOut:
      type: object
      required: [id, course_id, title, total_score, status]
      properties:
        id:
          type: string
          format: uuid
        course_id:
          type: string
          format: uuid
        course_title:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        start_at:
          type: string
          format: date-time
          nullable: true
        end_at:
          type: string
          format: date-time
          nullable: true
        duration_minutes:
          type: integer
        total_score:
          type: number
        status:
          type: string
          enum: [draft, published, closed]
        question_count:
          type: integer
        questions:
          type: array
          items: { $ref: '#/components/schemas/PaperQuestionOut' }
        my_attempt:
          type: object
          description: 学生侧当前用户状态（in_progress/submitted），教师无
          properties:
            status:
              type: string
              enum: [in_progress, submitted]
        created_at:
          type: string
          format: date-time
    PaperQuestionIn:
      type: object
      required: [question_id]
      properties:
        question_id:
          type: string
          format: uuid
        score:
          type: number
          description: 覆盖题库默认分值（可选）
    PaperQuestionOut:
      type: object
      properties:
        pq_id:
          type: string
          format: uuid
        question_id:
          type: string
          format: uuid
        order_num:
          type: integer
        score:
          type: number
        qtype:
          type: string
        title:
          type: string
        options:
          type: array
          items: { type: string }
        answer:
          type: array
          items: { type: string }
          description: 学生侧隐藏
        difficulty:
          type: string
        tags:
          type: array
          items: { type: string }
    AutoGenerateIn:
      type: object
      required: [count]
      properties:
        count:
          type: integer
          minimum: 1
        difficulty:
          type: string
          enum: [easy, medium, hard]
        qtype_filter:
          type: string
        tag:
          type: string
        score:
          type: number
          default: 5
    StartOut:
      type: object
      required: [attempt_id, started_at, end_at, duration_minutes]
      properties:
        attempt_id:
          type: string
          format: uuid
        started_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
          nullable: true
        duration_minutes:
          type: integer
        questions:
          type: array
          items: { $ref: '#/components/schemas/PaperQuestionOut' }
    SubmitIn:
      type: object
      required: [answers]
      properties:
        answers:
          type: array
          items:
            type: object
            required: [question_id]
            properties:
              question_id:
                type: string
                format: uuid
              answer:
                type: array
                items: { type: string }
                description: 单选/判断单元素；多选多元素；主观题首元素为文本
    ManualGradeIn:
      type: object
      required: [question_id, score]
      properties:
        question_id:
          type: string
          format: uuid
        score:
          type: number
          minimum: 0
    AttemptOut:
      type: object
      required: [id, paper_id, student_id, status]
      properties:
        id:
          type: string
          format: uuid
        paper_id:
          type: string
          format: uuid
        paper_title:
          type: string
        course_id:
          type: string
          format: uuid
        student_id:
          type: string
          format: uuid
        student_name:
          type: string
        status:
          type: string
          enum: [in_progress, submitted]
        started_at:
          type: string
          format: date-time
        submitted_at:
          type: string
          format: date-time
          nullable: true
        auto_score:
          type: number
        manual_score:
          type: number
        total_score:
          type: number
        answers:
          type: array
          items:
            type: object
            properties:
              question_id:
                type: string
                format: uuid
              answer:
                type: array
                items: { type: string }
              correct:
                type: boolean
                nullable: true
                description: 主观题待评分时为 null
              score:
                type: number
              manual:
                type: boolean
                default: false
    StatsOut:
      type: object
      required: [submitted_count, average_score, highest_score, lowest_score]
      properties:
        paper_id:
          type: string
          format: uuid
        submitted_count:
          type: integer
        average_score:
          type: number
        highest_score:
          type: number
        lowest_score:
          type: number
        question_stats:
          type: array
          items:
            type: object
            properties:
              question_id:
                type: string
                format: uuid
              title:
                type: string
              qtype:
                type: string
              score:
                type: number
              correct_count:
                type: integer
              submit_count:
                type: integer
              accuracy:
                type: number
                description: 客观题正确率
              manual_average:
                type: number
                description: 主观题人工均分（未评分则按 0 计）
